/style/bootstrap-4.2.1/
/style/polices/
/files_asides/code/
/sql/
/imgs/

/style/style(old).css
/index-old.php
/vues/accueil.old.php
/vues/algorithmie.old.php
/vues/html.old.php
/vues/css.old.php
/vues/contact.old.php
/vues/javascript.old.php
/vues/mysql.old.php
/vues/inscription.old.php
/vues/autres_liens.old.php
/vues/java.old.php
/vues/connexion.old.php
/vues/boole.old.php
/vues/model_bdd.old.php
/vues/oracle.old.php
/vues/php.old.php
/vues/sql.old.php
/vues/uml.old.php
/vues/vietnam.old.php

