/style/polices/
/files_asides/
/sql/
/imgs/
/config/MyPdo.php
/style/style(old).css
/index-old.php
/view/algorithmie.old.php
/view/html.old.php
/view/css.old.php
/view/contact.old.php
/view/javascript.old.php
/view/mysql.old.php
/view/inscription.old.php
/view/autres_liens.old.php
/view/java.old.php
/view/connexion.old.php
/view/boole.old.php
/view/model_bdd.old.php
/view/oracle.old.php
/view/php.old.php
/view/sql.old.php
/view/uml.old.php
/view/vietnam.old.php

